<!DOCTYPE html>
<html>
  <head>
    <title>ERROR!! Books by VM/BF/CT</title>
    <link rel="stylesheet" type="text/css" media="screen" href="styles/reset.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="styles/base.css" />
  </head>
  <body>
    <header>
      <h1>ERRORR Our Curated List of Books ERROR</h1>
      <h2>ERRORR Several books recommended by Vince, Brai, and Candice ERROR</h2> 
    </header>
    <main>
      <h3>ERROR Ze Books! ERROR</h3>
      <p>You have encountered an ERROR!</p>
      <p>Don't do it again.</p>
    </main>
    <footer></footer>
  </body>
</html>