<!DOCTYPE html>
<html>
  <head>
    <title>Books by VM/BF/CT</title>
    <link rel="stylesheet" type="text/css" media="screen" href="../styles/reset.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../styles/icons.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../styles/base.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../styles/layout.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../styles/modules.css" />
  </head>
  <body>
    <header>
      <h1>Best Books!</h1>
      <nav>
        <input id="burger" type="checkbox"/>
        <div class="icon-menu">
          <label for="burger">
        </div>
        <ul class="menu">
          <li class="tab"><a href="/new">Add a New Book</a></li>
          <li class="tab"><a href="#">Search by Title or Author</a></li>
        </ul>
      </nav>
      <h2 class="clearfix">Saved Books</h2>
    </header>
    <main class="site-wrap">
      <ul class="content-wrap">
        <% items.forEach( item => { %>
          <li class="card-column">
            <div class="card-content">
              <img class="book" src="<%= item.image_url %>">
              <h3><%= item.title %></h3>
              <p><%= item.author %></p>
              <span><a href="/book/<%= item.id %>">View Details</a></span>
            </div>
          </li>
          <div></div>
        <% }); %>
      </ul>
      <div class="bottom-menu">
        <div class="bottom-menu-button"></div>
        <div class="bottom-menu-button"></div>
        <div class="bottom-menu-button"></div>
        <div class="bottom-menu-button"></div>
      </div>
    </main>
    <footer></footer>
  </body>
</html>