<!DOCTYPE html>
<html>
  <head>
    <title>Books by VM/BF/CT</title>
    <link rel="stylesheet" type="text/css" media="screen" href="styles/reset.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="styles/base.css" />
  </head>
  <body>
    <header>
      <h1>Our Curated List of Books</h1>
      <h2>Several books recommended by Vince, Brai, and Candice</h2> 
    </header>
    <main>
      <p><a href ="/new/<%  %>">Click here to add a book</a></p>
      <h3>Ze Books!</h3>
      <ul>

        <% items.forEach( item => { %>

          <li><%= item.title %></li>
          <p><%= item.author %></p>
          <img src="<%= item.image_url %>">
          <p><a href="/book/<%= item.id %>">Click here</a></p>
        <% }); %>

      </ul>
    </main>
    <footer></footer>
    
  </body>
</html>