<!DOCTYPE html>
<html>
  <head>
    <title>Books by VM/BF/CT</title>
    <link rel="stylesheet" type="text/css" media="screen" href="styles/reset.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="styles/base.css" />
  </head>
  <body>
    <header>
      <h1>Best Books!</h1>
      <nav>
        <i class="fas fa-bars"></i>
        <ul>
          <li class="tab"><a href="#">Add a New Book</a></li>
          <li class="tab"><a href="#">Search by Title or Author</a></li>
        </ul>
      </nav>
    </header>
    <main class="site-wrap">
      <h2>Saved Books</h2> 
      <ul class="content-wrap">
        <% items.forEach( item => { %>
          <li class="card-column">
            <div class="card-content">
              <img src="<%= item.image_url %>">
              <h3><%= item.title %></h3>
              <p><%= item.author %></p>
              <span><a href="#">View Details</a></span>
            </div>
          </li>
          <div></div>
        <% }); %>
      </ul>
      <div class="bottom-menu">
        <div class="bottom-menu-button"></div>
        <div class="bottom-menu-button"></div>
        <div class="bottom-menu-button"></div>
        <div class="bottom-menu-button"></div>
      </div>
    </main>
    <footer></footer>
    <script src="app.js"></script>
  </body>
</html>