<!DOCTYPE html>
<html>
  <head>
    <title>Books by VM/BF/CT</title>
    <link rel="stylesheet" type="text/css" media="screen" href="styles/reset.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="styles/icons.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="styles/base.css" />
  </head>
  <body>
    <header>
      <h1>Best Books!</h1>
      <nav>
        <input id="burger" type="checkbox"/>
        <div class="icon-menu">
          <label for="burger">
        </div>
        <ul class="menu">
          <li class="tab"><a href="#">Add a New Book</a></li>
          <li class="tab"><a href="#">Search by Title or Author</a></li>
        </ul>
      </nav>
    </header>
    <main class=site-wrap>
      <h2 class="clearfix">Saved Books</h2> 
      <ul>
        <% items.forEach( item => { %>

          <li><%= item.title %></li>
          <p><%= item.author %></p>
          <img src="<%= item.image_url %>">
        <% }); %>
      </ul>
    </main>
    <footer></footer>
    <!-- <script src="app.js"></script> -->
  </body>
</html>