* {
  background-color: rgb(0, 193, 118);
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40pt;
  color: rgb(250, 190, 40);
}
h2 {
  color: rgb(250, 190, 40);
  font-weight: bold;
  font-size: 20pt;
}
h3 {
  color: rgb(255, 0, 60);
}

.site-wrap {
  width: 100%;
}
.content-wrap {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  outline: 5px yellow dashed;
}
.book-card {
  background-color: rgb(138, 193, 0);
  position: relative;
  height: 400px;
  width: 100%;
  display: block;
  outline: 5px blue dotted;
}
.card-content {
  width: 150px;
  height: 300px;
  display: block;
  position: absolute;
  outline: 5px red dotted;
}
.card-content > img {
  margin: 40px auto;
}
.card-content > h3 {
  outline: 2px pink dashed;
}
.card-content > p {
  outline: 2px orange dashed;
}